In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt

In [7]:
populationData1 = pd.read_csv("populationData1.csv");
populationData2 = pd.read_csv("populationDataChange2018to2019.csv")

illinoisPopulationData = populationData1.iloc[[0]]
illinoisPopulationData.drop(['Census', 'Estimates Base'], axis=1)

,County,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Illinois,"12,840,503","12,867,454","12,882,510","12,895,129","12,884,493","12,858,913","12,820,527","12,778,828","12,723,071","12,671,821"